.card-front {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: rotateY(0deg);
    transition: transform 0.3s ease;
    background-image: url('img\straw.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed; 
}


.card-back {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
}

.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}
.instructions-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
}

.instructions-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.start-game-btn {
    padding: 10px 20px;
    background-color: #688d69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
}

.game-over-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}
